@font-face {
  font-family: 'RalewayBold';
  src: url('../assets/typo/Raleway-Bold.ttf') format('truetype');
}

.App {
  text-align: center;
}

.gh-app-logo {
  height: 6vh;
  margin-right: 2vw;
}

.gh-app-h1 {
  font-family: 'RalewayBold', Arial, serif;
  font-size: 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gh-app-main {
  display: flex;
}
